body {
  font-family: sans-serif;
}

.top-menu {
	border: 1px dotted silver;
	min-height: 18px;
	padding: 4px;
	margin-bottom: 4px;
}

.admin-table {
	width: 100%;
	text-align: left;
}

.report-table {
	width: 50%;
	text-align: left;
}

th, td {
  border-bottom: 1px solid #ddd;
}